**/packages/*
!**/packages/build/
*.vspscc
*.vssscc
.DS_Store*
Thumbs.db
*.[Rr]e[Ss]harper
_TeamCity*
*.dotCover
publish/
Desktop.ini
$RECYCLE.BIN/
**/*.sln.ide
*.vshost.*
*.config
!app.config
!packages.config
*.suo
*.user
*.sln.docstates
**/bin/Debug/*.xml
**/obj/
/LibSndFile.NET/Debug
/FreeRaider/FreeRaider/bin/Debug/WALL.TR2
/FreeRaider/FreeRaider/bin/Debug/train.tr4
/FreeRaider/FreeRaider/bin/Debug/TOMBPC.DAT
/FreeRaider/FreeRaider/bin/Debug/MAIN.SFX
/FreeRaider/FreeRaider/bin/Debug/LEVEL6.PHD
/FreeRaider/FreeRaider/bin/Debug/AREA51.TR2
/FreeRaider/FreeRaider/bin/Debug/andy1.trc
/FreeRaider/FreeRaider.Game/bin/Debug/WALL.TR2
/FreeRaider/FreeRaider.Game/bin/Debug/TOMBPC.DAT
/FreeRaider/FreeRaider.Game/bin/Debug/AREA51.TR2
/FreeRaider/FreeRaider.TestApp/bin/Debug/tr5
/FreeRaider/FreeRaider.TestApp/bin/Debug/tr4
/FreeRaider/FreeRaider.TestApp/bin/Debug/tr3
/FreeRaider/FreeRaider.TestApp/bin/Debug/tr2
/FreeRaider/FreeRaider.TestApp/bin/Debug/tr1
/FreeRaider/FreeRaider.TestApp/bin/Debug/TOMBPC.DAT
/FreeRaider/FreeRaider.TestApp/bin/Debug/MAIN.SFX
*.sdf
/FreeRaider/FreeRaider.VC.opendb
/FreeRaider/Debug/LibSndFile.NET.xml
/FreeRaider/Debug/LibSndFile.NET.dll.metagen
/FreeRaider/Debug/LibSndFile.NET.bsc
/FreeRaider/Debug/libsndfile-1.exp
/FreeRaider/FreeRaider.VC.VC.opendb
/FreeRaider/FreeRaider.VC.db
/FreeRaider/FreeRaider/bin/Debug/data/tr3
/NLibsndfile.Native/bin/Debug/NLibsndfile.Native.dll
/NLibsndfile.Native/bin/Debug
/NLibsndfile.Native/bin/x86/Debug
/libsndfile-1/src/Debug
/FreeRaider/FreeRaider.TestApp/bin/Debug
/FreeRaider/FreeRaider.Loader/bin/Debug
/FreeRaider/FreeRaider/bin/Debug
/FreeRaider/FreeRaider/bin/x86/Debug
/FreeRaider/FreeRaider/bin/Release
/FreeRaider/Debug
/FreeRaider/bin
/FreeRaider/lib
/FreeRaider/TRLevelUtility/bin/Debug
