**/packages/*
!**/packages/build/
*.vspscc
*.vssscc
.DS_Store*
Thumbs.db
*.[Rr]e[Ss]harper
_TeamCity*
*.dotCover
publish/
Desktop.ini
$RECYCLE.BIN/
**/*.sln.ide
*.vshost.*
*.config
*.suo
*.user
*.sln.docstates
**/bin/Debug/*.xml
**/obj/